:root {
    --primary-color: #f1eaa8cc; /**/
    --secondary-color: #bebb5c; /**/
    --accent-color1: #4c5116; /**/
    --accent-color2: #c46604; /**/
    --accent-color3: #2f2308; /**/
}

* {
    box-sizing: border-box;
}

 body {
    font-family: "Fira Sans", sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: var(--secondary-color);
 }

body div, section, footer {
    background-color: var(--primary-color);
    border: 3px solid var(--accent-color2);
    margin: 5px;
    text-align: center;
    color: var(--accent-color1);
}

footer {
    background-color: var(--accent-color1);
    margin: 0px;
}

footer p {
    display: inline;
    position: relative;
    bottom: 20px;
    margin: 5px;
    color: var(--accent-color3);
}

footer a {
    margin: 5px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Cinzel", serif;
}

div, section {
    position: relative;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

article img {
    position: static;
    width: 20%;
}

header {
    background-color: var(--accent-color1);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 35%;
}

.logo {
    height: 150px;
    width: auto;
    margin: 10px;
}

nav {
    /* display: flex; */
    /* flex-direction: row; */
    align-self: center;
    flex-wrap: wrap;
}

header a {
    border: 3px solid var(--accent-color2);
    background-color: var(--secondary-color);
    padding: 10px;
    color: var(--accent-color1);
    text-decoration: none;
    font-weight: bold;
    border-radius: .5rem;
}

.Img_smp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

section img {
    width: 25%;
    height: auto;
    }

.our_team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.employee_img {
    width: 150px;
    border-radius: 100%;
}

#map-message {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
}

.msg_container {
    width: 30%;
    background-color:#bebb5c;
}

.emb_map {
    width: fit-content;
}

.emb_map iframe {
    border:0;
}

.message_us {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: start;
    padding: 1rem;
    font-weight: bold;
}

#newsletter {
    margin-left: 2%;
}

#your_name, #email, #address, #phone_n, textarea {
    border-radius: .5rem;
    height: 1.5rem;
}

button {
    border-radius: 0.5rem;
    margin: 2%;
    border: 3px solid var(--accent-color2);
    background-color: var(--secondary-color);
    padding: 10px;
    color: var(--accent-color1);
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background-color: #4c5116;
    color: #bebb5c;
}

#send_message {
    background-color: var(--primary-color);
    margin: 2%;
    border-radius: .5rem;
    font-weight: bold;
}

#send_message:hover {
    cursor: pointer;
    background-color: var(--accent-color1);
    color: var(--secondary-color);
}

.radio_nl_type {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
}