:root {
    --primary-color: #447604ff; /*Avocado*/
    --sencodary-color: #6cc551ff; /*mantis*/
    --accent-color1: #9ffcdfff; /*aquamarine*/
    --accent-color2: #52ad9cff; /*keppel*/
    --accent-color3: #47624fff; /*feldgrau*/

/* Alternate Palette: Rivendell Calling 
#f1eaa8, #bebb5c, #6a7120, #643f1e, #2f2308 */
}