:root {
    --color1: steelblue;
    --color2: white;
    --standard-padding: 10px;
}

nav {
    background-color: var(--color1);
    padding: var(--standard-padding);
}

nav a {
    color: var(--color2);
    display: block;
    padding: var(--standard-padding);
}

h1 {
    color: var(--color1);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--color1);
    padding: 2px;
    box-shadow: 0 0 30px;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 400px;
    margin: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px;
    background-color: var(--color2);
    color: #333;

}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}