* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: steelblue;
    --color2: white;
    --color3: #a9a9a93c;
    --standard-padding: 1rem;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

nav {
    background-color: var(--color1);
    padding: var(--standard-padding);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: var(--color2);
    display: block;
    padding: var(--standard-padding);
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
}

h1 {
    color: var(--color1);
    font-family: sans-serif;
    padding: 0.5rem;
    border-bottom: 2px solid;
}

main {
    grid-column: 2;
}

main p {
    margin: 5px;
}

main img {
    float: right;
    width: 30%;
    height: auto;
    border: 1px solid var(--color1);
    margin: 0.5rem;
    padding: 2px;
    box-shadow: 0 0 10px;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1;
    grid-row: 1;
}

aside img {
        width: 250px;
        height: auto;
    }

aside h2 {
   position: absolute;
   font-size: smaller;
   top: 25px;
   left: 180px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    color: #000;
    background-color: var(--color3);
}